/* styles/ThemeToggle.css */
.theme-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-slate-900);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: var(--radius-full);
    transition: background-color var(--duration-normal) var(--ease-standard);
}

[data-color-scheme="dark"] .theme-toggle-btn {
    color: var(--color-gray-200);
}

.theme-toggle-btn:hover {
    background-color: var(--color-secondary);
}